.home-container {
  .home-first-bar {
    background: linear-gradient(to right, rgb(0, 47, 175), rgb(82, 184, 252));
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    .left {
      width: 50%;
      h1 {
        font-size: 40px;
        font-weight: 800;
        text-align: center;
        animation: home-bar-title-move 1.5s;
        @keyframes home-bar-title-move {
          0% {
            translate: -1000px 0;
          }
          20% {
            translate: -1000px 0;
          }
          100% {
            translate: 0 0x;
          }
        }
      }
    }
    .bundle-image {
      width: 40%;
      height: 100%;
      display: flex;
      justify-content: center;
      overflow: hidden;
      img {
        height: 120%;
        animation: bundle-image-move 1.5s;
        @keyframes bundle-image-move {
          0% {
            translate: 0 500px;
          }
          20% {
            translate: 0 500px;
          }
          100% {
            translate: 0 0x;
          }
        }
      }
    }
  }
}
